<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header class="header-text">
            <h2>404 NOT FOUND</h2>
        </header>
        <section class="container">
            <div class="left-col">
                <img src="Scarecrow.png" alt="">
            </div>
            <div class="left-col">
                <div class="text">
                    <h1>I have bad news for you</h1>
                    <p>The Page You are looking for might be removed or it is temporarily unavailable</p>
                    <button class="btn">BACK TO HOMEPAGE</button>
                </div>
            </div>
        </section><br>
        

    



        
        <script src="" async defer></script>
</body>
</html>