*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono',
    monospace;
    box-sizing: border-box;
}
.header-text{
    font-family: 'Inconsolata',
    monospace;
    font-weight: 800;
    letter-spacing: -2px;
    padding: 20px 0 0 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left-col,.right-col {
    flex-basis: 50%;
}
.left-col img{
    margin-top: 50px;
    padding: 40px;
    width: 85%;
}
.text{
    max-width: 600px;
}
h1 {
    font-size: 50px;
    font-weight: bold;

}
p {
    width: 381px;
    margin-top: 25px;
    font-weight: normal;
    font-size: 20px;
}
.btn {
    background-color: #333333;
    color: #ffffff;
    margin-top: 30px;
    padding: 15px 23px;
    outline: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 10px;
}

/* Media Query */
@media only screen and (man-width: 360px) {
      .left-col img {
          margin-top: 20px;
          padding-top: 10px;
          width: 100%;
      }
      h1 {
          font-size: 45px;
      }
      h1,p,.btn {
          margin-left: 15px;
      }
      

      



    }      